@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;

500;600;700&display=swap");
select {
  -webkit-appearance: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1c2023;
  z-index: -10;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117.5%;
  text-align: center;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 12px 35px;
  text-transform: uppercase;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn-purple {
  background-color: #8856d9;
}

.btn-red {
  background-color: #ff4136;
}

.btn-small {
  padding: 8px 20px;
  font-size: 13px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease all;
  -o-transition: background-color 0.3s ease all;
  transition: background-color 0.3s ease all;
  padding: 5px 0;
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(28, 32, 35, 0.5);
}

.header__container {
  padding: 0 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -ms-grid;
  display: grid;
}

.header__container > * {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
  padding-right: 20px;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row-align: center;
      align-self: center;
}

.header__language {
  position: relative;
}

.header__language ul {
  display: none;
  position: absolute;
  min-width: 100px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #30373f;
  padding: 10px;
  border-radius: 20px;
}

.header__language.active ul {
  display: block;
}

.header__language-current {
  font-weight: 700;
  font-size: 14px;
  line-height: 192.8571428571%;
  text-transform: uppercase;
  position: relative;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__language-current::before,
.header__language-current::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__language-current::before {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
  right: 0;
}

.header__language-current::after {
  right: 0;
  -webkit-transform: translate(-60%, -50%) rotate(45deg);
      -ms-transform: translate(-60%, -50%) rotate(45deg);
          transform: translate(-60%, -50%) rotate(45deg);
}

.header__language-current.active::before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.header__language-current.active::after {
  -webkit-transform: translate(-60%, -50%) rotate(-45deg);
      -ms-transform: translate(-60%, -50%) rotate(-45deg);
          transform: translate(-60%, -50%) rotate(-45deg);
}

.header__language-option {
  font-weight: 700;
  font-size: 16px;
  line-height: 192.8571428571%;
}

.menu-header__link {
  font-size: 14px;
  font-size: 14px;
  line-height: 192.8571428571%;
  text-transform: uppercase;
  color: #8c96a0;
}

.header-time {
  -ms-grid-column: 4;
  grid-column: 4/4;
}

.header-time__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 280px;
}

.header-time__text {
  padding-top: 15px;
  height: 100%;
  font-size: 16px;
  font-size: 16px;
  line-height: 118.75%;
  color: #8c96a0;
}

.header-time__score {
  font-weight: 700;
  font-size: 40px;
  font-size: 40px;
  line-height: 117.5%;
  color: #a9c7c7;
}

.header-time__score span {
  display: block;
  font-size: 16px;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  text-transform: uppercase;
}

.main-screen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-screen__body {
  z-index: 5;
  max-width: 540px;
  max-width: 540px;
  margin-left: 225px;
  margin-left: 225px;
}

.main-screen__title {
  font-weight: 600;
  font-size: 100px;
  font-size: 100px;
  font-size: 100px;
  line-height: 100%;
  margin: 0px 0px 25px 0px;
}

.main-screen__text {
  font-size: 18px;
  font-size: 18px;
  margin-bottom: 50px;
}

.main-screen__button {
  font-size: 16px;
}

.main-screen__decor {
  position: absolute;
  top: 0;
  right: 0;
  width: 70.9895833333%;
  height: 100%;
}

.main-screen__decor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-screen__img {
  z-index: -2;
}

.main-screen__img img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-screen__gif {
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2%, #1c2023), color-stop(41.42%, rgba(28, 32, 35, 0)));
  background: -o-linear-gradient(left, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
  background: linear-gradient(90deg, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
}

.main-screen__gif::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.2%, #1c2023), color-stop(41.42%, rgba(28, 32, 35, 0)));
  background: -o-linear-gradient(right, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
  background: linear-gradient(270deg, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
}

.main-screen__gif::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2%, #1c2023), color-stop(41.42%, rgba(28, 32, 35, 0)));
  background: -o-linear-gradient(bottom, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
  background: linear-gradient(0deg, #1c2023 0.2%, rgba(28, 32, 35, 0) 41.42%);
}

@media (min-width: 381px) {
  .header-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (min-width: 1025px) {
  .header__container {
    -ms-grid-columns: 285px minmax(1fr, auto) minmax(auto, 420px) minmax(1fr, auto);
    grid-template-columns: 285px minmax(1fr, auto) minmax(auto, 420px) minmax(1fr, auto);
  }

  .header__burger {
    display: none;
  }

  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;
    row-gap: 20px;
  }
}

@media (min-width: 1920px) {
  .menu-header__link {
    font-size: calc(14 * (100vw / 1920));
  }

  .header-time__text {
    font-size: calc(16 * (100vw / 1920));
  }

  .header-time__score {
    font-size: calc(40 * (100vw / 1920));
  }

  .header-time__score span {
    font-size: calc(16 * (100vw / 1920));
  }

  .main-screen__body {
    max-width: calc(540 * (100vw / 1920));
  }

  .main-screen__body {
    margin-left: calc(225 * (100vw / 1920));
  }

  .main-screen__title {
    font-size: calc(100 * (100vw / 1920));
  }

  .main-screen__text {
    font-size: calc(18 * (100vw / 1920));
  }

  .main-screen__button {
    font-size: calc(16 * (100vw / 1920));
  }
}

@media (max-width: 1920px) {
  .main-screen__body {
    margin-left: calc(15px + 210 * ((100vw - 1025px) / 895));
  }
}

@media (max-width: 1100px) {
  .header-time__scores {
    width: calc(135px + 145 * ((100vw - 320px) / 780));
  }

  .header-time__text {
    padding-top: calc(5px + 10 * ((100vw - 320px) / 780));
  }

  .header-time__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 780));
  }

  .header-time__score {
    font-size: calc(18px + 22 * ((100vw - 320px) / 780));
  }

  .header-time__score span {
    font-size: calc(12px + 4 * ((100vw - 320px) / 780));
  }

  .main-screen__title {
    font-size: calc(60px + 40 * ((100vw - 320px) / 780));
  }

  .main-screen__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 780));
  }

  .main-screen__text {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 780));
  }
}

@media (max-width: 1025px) {
  .main-screen__body {
    margin-left: 15px;
  }
}

@media (max-width: 1024px) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: minmax(auto, 1fr) auto;
    grid-template-columns: minmax(auto, 1fr) auto;
  }

  .header__container > * {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .header__navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }

  .header__burger {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    height: 30px;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    position: absolute;
    left: 0;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    width: 100%;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 100%;
  }

  .header__burger.active::before {
    width: 33%;
  }

  .header__burger.active span {
    width: 66%;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    overflow: auto;
    z-index: -3;
    background-color: #30373f;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    left: 0;
  }

  .header__language-option {
    font-size: 18px;
  }

  .header__language-option:not(:last-child) {
    margin-bottom: 10px;
  }

  .menu-header__list {
    padding: 80px 20px 20px 20px;
  }

  .menu-header__link {
    font-size: 32px;
  }

  .header-time {
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
}

@media (max-width: 1024px) and (max-width: 767px) {
  .header__burger {
    -ms-flex-preferred-size: calc(30px + 20 * ((100vw - 320px) / 447));
        flex-basis: calc(30px + 20 * ((100vw - 320px) / 447));
  }

  .header__burger {
    height: calc(20px + 10 * ((100vw - 320px) / 447));
  }
}

@media (max-width: 1024px) and (max-width: 320px) {
  .header__burger {
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
  }

  .header__burger {
    height: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 480px) {
  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    height: 3px;
  }
}

@media (max-width: 992px) {
  .header {
    position: fixed;
  }
}

@media (max-width: 767px) {
  .header__navigation {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .main-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .main-screen__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 10px 0 10px;
  }

  .main-screen__body {
    text-align: center;
    margin-left: 0;
  }

  .main-screen__title {
    margin: 0px 0px 10px 0px;
  }

  .main-screen__decor {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header__language-option {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .header-time__text {
    display: block;
    text-align: right;
    padding-top: 0;
  }
}

@media (max-width: 320px) {
  .header-time__scores {
    width: 135px;
  }

  .header-time__text {
    padding-top: 5px;
  }

  .header-time__text {
    font-size: 12px;
  }

  .header-time__score {
    font-size: 18px;
  }

  .header-time__score span {
    font-size: 12px;
  }

  .main-screen__title {
    font-size: 60px;
  }

  .main-screen__text {
    font-size: 14px;
  }

  .main-screen__text {
    margin-bottom: 15px;
  }
}

@media (any-hover: hover) {
  .btn-purple:hover {
    background-color: #511da5;
  }

  .btn-red:hover {
    background-color: #a3160f;
  }

  .header__language:hover ul {
    display: block;
  }

  .header__language-current:hover {
    cursor: pointer;
  }

  .header__language-option:hover {
    cursor: pointer;
    color: #a9c7c7;
  }

  .menu-header__link:hover {
    color: #8856d9;
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .header__language-current:hover:hover {
    color: #a9c7c7;
  }

  .header__language-current:hover:hover::before,
  .header__language-current:hover:hover::after {
    background-color: #a9c7c7;
  }

  .header__language-current:hover:hover::before {
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .header__language-current:hover:hover::after {
    -webkit-transform: translate(-60%, -50%) rotate(-45deg);
        -ms-transform: translate(-60%, -50%) rotate(-45deg);
            transform: translate(-60%, -50%) rotate(-45deg);
  }
}

@media (max-height: 550px) {
  .main-screen__container {
    padding-top: 80px;
  }
}